.nav-links{
    margin: 0px;
    padding: 0px;
    gap: 20px;
    display: flex;
    list-style: none;
    justify-content: center;
}
a{
    color: green;
    text-decoration: none;
}
.navbar {
    background-color: #003366;
    padding:  20px;
}

/* HOVER EFFECT */
.nav-links li a:hover {
    background-color: #0059b3;
    border-radius: 4px;
}
